html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    background-image: url("images/pozadi2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}